In [107]:
import pandas as pd 
import numpy as np
import matplotlib as plt 
import seaborn as sea

In [108]:
df= pd.read_csv(r"all_season_batting_card.csv",encoding='unicode_escape')

In [109]:
df.shape

(15720, 25)

In [110]:
df

,season,match_id,match_name,home_team,away_team,venue,city,country,current_innings,innings_id,...,fours,sixes,strikeRate,captain,isNotOut,runningScore,runningOver,shortText,commentary,link
0,2023.0,1359475,GT v CSK,GT,CSK,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,CSK,1,...,0.0,0.0,16.66,False,False,"{'wickets': 1, 'runs': 14}",2.2,b Mohammed Shami,<strong>Shami breaches the defences of Conway<...,NaN
1,2023.0,1359475,GT v CSK,GT,CSK,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,CSK,1,...,4.0,9.0,184.00,False,False,"{'wickets': 5, 'runs': 151}",17.1,c Shubman Gill b Joseph,"Joseph misses the yorker, but is still a hard-...",NaN
2,2023.0,1359475,GT v CSK,GT,CSK,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,CSK,1,...,4.0,1.0,135.29,False,False,"{'wickets': 2, 'runs': 50}",5.5,c &dagger;Saha b Rashid Khan,"<strong>Rashid strikes back, Moeen has nicked ...",NaN
3,2023.0,1359475,GT v CSK,GT,CSK,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,CSK,1,...,1.0,0.0,116.66,False,False,"{'wickets': 3, 'runs': 70}",7.4,c &dagger;Saha b Rashid Khan,<strong>Rashid takes out both Moeen and Stokes...,NaN
4,2023.0,1359475,GT v CSK,GT,CSK,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,CSK,1,...,0.0,1.0,100.00,False,False,"{'wickets': 4, 'runs': 121}",12.5,b Little,Maiden IPL wicket for Josh Little. Rayudu dash...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15715,2008.0,336040,CSK v RR,CSK,RR,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,RR,2,...,3.0,4.0,143.58,False,False,"{'wickets': 7, 'runs': 143}",17.4,run out (Raina),Raina you beauty! A direct hit runs out Yusuf!...,NaN
15716,2008.0,336040,CSK v RR,CSK,RR,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,RR,2,...,0.0,1.0,133.33,False,False,"{'wickets': 5, 'runs': 139}",16.6,c Dhoni b Muralitharan,caught! Another twist! Kaif steps out of his c...,NaN
15717,2008.0,336040,CSK v RR,CSK,RR,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,RR,2,...,0.0,0.0,0.00,False,False,"{'wickets': 6, 'runs': 139}",17.1,c Kapugedera b Morkel,what has he done? Jadeja backs away towards le...,NaN
15718,2008.0,336040,CSK v RR,CSK,RR,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,RR,2,...,1.0,0.0,100.00,True,True,{},NaN,not out,NaN,NaN
15719,2008.0,336040,CSK v RR,CSK,RR,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,RR,2,...,0.0,0.0,128.57,False,True,{},NaN,not out,NaN,NaN

In [111]:
df = df.rename(columns={
    'fullName': 'Full_Name',
    'ballsFaced': 'Balls_Faced',
    'strikeRate': 'Strike_Rate',
    'isNotOut': 'Is_Not_Out',
    'runningScore': 'Running_Score',
    'runningOver': 'Running_Over'
})

In [112]:
df.head()

,season,match_id,match_name,home_team,away_team,venue,city,country,current_innings,innings_id,...,fours,sixes,Strike_Rate,captain,Is_Not_Out,Running_Score,Running_Over,shortText,commentary,link
0,2023.0,1359475,GT v CSK,GT,CSK,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,CSK,1,...,0.0,0.0,16.66,False,False,"{'wickets': 1, 'runs': 14}",2.2,b Mohammed Shami,<strong>Shami breaches the defences of Conway<...,NaN
1,2023.0,1359475,GT v CSK,GT,CSK,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,CSK,1,...,4.0,9.0,184.00,False,False,"{'wickets': 5, 'runs': 151}",17.1,c Shubman Gill b Joseph,"Joseph misses the yorker, but is still a hard-...",NaN
2,2023.0,1359475,GT v CSK,GT,CSK,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,CSK,1,...,4.0,1.0,135.29,False,False,"{'wickets': 2, 'runs': 50}",5.5,c &dagger;Saha b Rashid Khan,"<strong>Rashid strikes back, Moeen has nicked ...",NaN
3,2023.0,1359475,GT v CSK,GT,CSK,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,CSK,1,...,1.0,0.0,116.66,False,False,"{'wickets': 3, 'runs': 70}",7.4,c &dagger;Saha b Rashid Khan,<strong>Rashid takes out both Moeen and Stokes...,NaN
4,2023.0,1359475,GT v CSK,GT,CSK,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,CSK,1,...,0.0,1.0,100.00,False,False,"{'wickets': 4, 'runs': 121}",12.5,b Little,Maiden IPL wicket for Josh Little. Rayudu dash...,NaN

In [113]:
df.info

<bound method DataFrame.info of        season  match_id match_name home_team away_team  \
0      2023.0   1359475   GT v CSK        GT       CSK
1      2023.0   1359475   GT v CSK        GT       CSK
2      2023.0   1359475   GT v CSK        GT       CSK
3      2023.0   1359475   GT v CSK        GT       CSK
4      2023.0   1359475   GT v CSK        GT       CSK
...       ...       ...        ...       ...       ...
15715  2008.0    336040   CSK v RR       CSK        RR
15716  2008.0    336040   CSK v RR       CSK        RR
15717  2008.0    336040   CSK v RR       CSK        RR
15718  2008.0    336040   CSK v RR       CSK        RR
15719  2008.0    336040   CSK v RR       CSK        RR

                                          venue       city country  \
0      Narendra Modi Stadium, Motera, Ahmedabad  Ahmedabad   India
1      Narendra Modi Stadium, Motera, Ahmedabad  Ahmedabad   India
2      Narendra Modi Stadium, Motera, Ahmedabad  Ahmedabad   India
3      Narendra Modi Stadium, Motera, Ahmedabad  Ahmedabad   India
4      Narendra Modi Stadium, Motera, Ahmedabad  Ahmedabad   India
...                                         ...        ...     ...
15715        Dr DY Patil Sports Academy, Mumbai     Mumbai   India
15716        Dr DY Patil Sports Academy, Mumbai     Mumbai   India
15717        Dr DY Patil Sports Academy, Mumbai     Mumbai   India
15718        Dr DY Patil Sports Academy, Mumbai     Mumbai   India
15719        Dr DY Patil Sports Academy, Mumbai     Mumbai   India

      current_innings  innings_id  ... fours sixes  Strike_Rate  captain  \
0                 CSK           1  ...   0.0   0.0        16.66    False
1                 CSK           1  ...   4.0   9.0       184.00    False
2                 CSK           1  ...   4.0   1.0       135.29    False
3                 CSK           1  ...   1.0   0.0       116.66    False
4                 CSK           1  ...   0.0   1.0       100.00    False
...               ...         ...  ...   ...   ...          ...      ...
15715              RR           2  ...   3.0   4.0       143.58    False
15716              RR           2  ...   0.0   1.0       133.33    False
15717              RR           2  ...   0.0   0.0         0.00    False
15718              RR           2  ...   1.0   0.0       100.00     True
15719              RR           2  ...   0.0   0.0       128.57    False

      Is_Not_Out                Running_Score  Running_Over  \
0          False   {'wickets': 1, 'runs': 14}           2.2
1          False  {'wickets': 5, 'runs': 151}          17.1
2          False   {'wickets': 2, 'runs': 50}           5.5
3          False   {'wickets': 3, 'runs': 70}           7.4
4          False  {'wickets': 4, 'runs': 121}          12.5
...          ...                          ...           ...
15715      False  {'wickets': 7, 'runs': 143}          17.4
15716      False  {'wickets': 5, 'runs': 139}          16.6
15717      False  {'wickets': 6, 'runs': 139}          17.1
15718       True                           {}           NaN
15719       True                           {}           NaN

                          shortText  \
0                  b Mohammed Shami
1           c Shubman Gill b Joseph
2      c &dagger;Saha b Rashid Khan
3      c &dagger;Saha b Rashid Khan
4                          b Little
...                             ...
15715               run out (Raina)
15716        c Dhoni b Muralitharan
15717         c Kapugedera b Morkel
15718                       not out
15719                       not out

                                              commentary link
0      <strong>Shami breaches the defences of Conway<...  NaN
1      Joseph misses the yorker, but is still a hard-...  NaN
2      <strong>Rashid strikes back, Moeen has nicked ...  NaN
3      <strong>Rashid takes out both Moeen and Stokes...  NaN
4      Maiden IPL wicket for Josh Little. Rayudu dash...  NaN
...                                                  ...  ...
15715  Raina you beauty! A direct hit runs out Yusuf!...  NaN
15716  caught! Another twist! Kaif steps out of his c...  NaN
15717  what has he done? Jadeja backs away towards le...  NaN
15718                                                NaN  NaN
15719                                                NaN  NaN

[15720 rows x 25 columns]>

In [114]:
df.isnull().any()

season              True
match_id           False
match_name         False
home_team          False
away_team          False
venue              False
city               False
country            False
current_innings    False
innings_id         False
name               False
Full_Name          False
runs                True
Balls_Faced         True
minutes             True
fours               True
sixes               True
Strike_Rate         True
captain            False
Is_Not_Out          True
Running_Score       True
Running_Over        True
shortText          False
commentary          True
link                True
dtype: bool

In [115]:
df[df['runs'].isna()==1]

,season,match_id,match_name,home_team,away_team,venue,city,country,current_innings,innings_id,...,fours,sixes,Strike_Rate,captain,Is_Not_Out,Running_Score,Running_Over,shortText,commentary,link
4219,2019.0,1175358,MI v DC,MI,DC,"Wankhede Stadium, Mumbai",Mumbai,India,MI,2,...,NaN,NaN,NaN,False,NaN,NaN,NaN,absent hurt,NaN,NaN
8823,2014.0,729293,CSK v DC,CSK,DC,"Sheikh Zayed Stadium, Abu Dhabi",Abu Dhabi,United Arab Emirates,DC,2,...,NaN,NaN,NaN,False,NaN,NaN,NaN,absent hurt,NaN,NaN
10671,2013.0,598066,KXIP v MI,KXIP,MI,"Himachal Pradesh Cricket Association Stadium, ...",Dharamsala,India,MI,2,...,NaN,NaN,NaN,False,NaN,NaN,NaN,absent hurt,NaN,NaN
13123,2010.0,419114,DC v MI,DC,MI,"Arun Jaitley Stadium, Delhi",Delhi,India,DC,2,...,NaN,NaN,NaN,True,NaN,NaN,NaN,absent hurt,NaN,NaN
14166,2009.0,392197,KKR v MI,KKR,MI,"St George's Park, Port Elizabeth",Port Elizabeth,South Africa,KKR,2,...,NaN,NaN,NaN,False,NaN,NaN,NaN,absent hurt,NaN,NaN
14249,2009.0,392202,CSK v RR,CSK,RR,"SuperSport Park, Centurion",Centurion,South Africa,RR,2,...,NaN,NaN,NaN,False,NaN,NaN,NaN,absent hurt,NaN,NaN

In [116]:
df['runs']=df['runs'].fillna(0)

In [117]:
df['Balls_Faced']=df['Balls_Faced'].fillna(0)

In [118]:
df.isnull().any()

season              True
match_id           False
match_name         False
home_team          False
away_team          False
venue              False
city               False
country            False
current_innings    False
innings_id         False
name               False
Full_Name          False
runs               False
Balls_Faced        False
minutes             True
fours               True
sixes               True
Strike_Rate         True
captain            False
Is_Not_Out          True
Running_Score       True
Running_Over        True
shortText          False
commentary          True
link                True
dtype: bool

In [119]:
df.isnull().any()

season              True
match_id           False
match_name         False
home_team          False
away_team          False
venue              False
city               False
country            False
current_innings    False
innings_id         False
name               False
Full_Name          False
runs               False
Balls_Faced        False
minutes             True
fours               True
sixes               True
Strike_Rate         True
captain            False
Is_Not_Out          True
Running_Score       True
Running_Over        True
shortText          False
commentary          True
link                True
dtype: bool

In [120]:
df['minutes']=df['minutes'].fillna(0)
df['runs']=df['runs'].fillna(0)
df['fours']=df['fours'].fillna(0)
df['sixes']=df['sixes'].fillna(0)
df['Strike_Rate']=df['Strike_Rate'].fillna(0)
df['Is_Not_Out']=df['Is_Not_Out'].fillna(0)
df['Running_Score']=df['Running_Score'].fillna(0)
df['Running_Over']=df['Running_Over'].fillna(0)



df.isnull().any()

season              True
match_id           False
match_name         False
home_team          False
away_team          False
venue              False
city               False
country            False
current_innings    False
innings_id         False
name               False
Full_Name          False
runs               False
Balls_Faced        False
minutes            False
fours              False
sixes              False
Strike_Rate        False
captain            False
Is_Not_Out         False
Running_Score      False
Running_Over       False
shortText          False
commentary          True
link                True
dtype: bool

In [121]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
15715    False
15716    False
15717    False
15718    False
15719    False
Length: 15720, dtype: bool

In [122]:
df[df['Full_Name'].duplicated()==1]

,season,match_id,match_name,home_team,away_team,venue,city,country,current_innings,innings_id,...,fours,sixes,Strike_Rate,captain,Is_Not_Out,Running_Score,Running_Over,shortText,commentary,link
81,2023.0,1359480,CSK v LSG,CSK,LSG,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,India,CSK,1,...,3.0,4.0,183.87,False,False,"{'wickets': 1, 'runs': 110}",9.1,c Wood b Ravi Bishnoi,"<b>and right away, Bishnoi finally collars one...",NaN
82,2023.0,1359480,CSK v LSG,CSK,LSG,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,India,CSK,1,...,5.0,2.0,162.06,False,False,"{'wickets': 2, 'runs': 118}",10.2,c Pandya b Wood,<strong>Krunal and Wood team up to put a leash...,NaN
83,2023.0,1359480,CSK v LSG,CSK,LSG,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,India,CSK,1,...,1.0,3.0,168.75,False,False,"{'wickets': 3, 'runs': 150}",13.5,c Wood b Ravi Bishnoi,googly flighted full on leg stump giving it mo...,NaN
84,2023.0,1359480,CSK v LSG,CSK,LSG,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,India,CSK,1,...,3.0,0.0,146.15,False,False,"{'wickets': 4, 'runs': 166}",15.2,st &dagger;Pooran b Ravi Bishnoi,Moeen charges a good length ball and keeps run...,NaN
85,2023.0,1359480,CSK v LSG,CSK,LSG,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,India,CSK,1,...,1.0,0.0,100.00,False,False,"{'wickets': 5, 'runs': 178}",16.6,c Yash Thakur b Avesh Khan,slower ball fools Stokes at 123 kph on a fulli...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15715,2008.0,336040,CSK v RR,CSK,RR,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,RR,2,...,3.0,4.0,143.58,False,False,"{'wickets': 7, 'runs': 143}",17.4,run out (Raina),Raina you beauty! A direct hit runs out Yusuf!...,NaN
15716,2008.0,336040,CSK v RR,CSK,RR,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,RR,2,...,0.0,1.0,133.33,False,False,"{'wickets': 5, 'runs': 139}",16.6,c Dhoni b Muralitharan,caught! Another twist! Kaif steps out of his c...,NaN
15717,2008.0,336040,CSK v RR,CSK,RR,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,RR,2,...,0.0,0.0,0.00,False,False,"{'wickets': 6, 'runs': 139}",17.1,c Kapugedera b Morkel,what has he done? Jadeja backs away towards le...,NaN
15718,2008.0,336040,CSK v RR,CSK,RR,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,RR,2,...,1.0,0.0,100.00,True,True,{},0.0,not out,NaN,NaN
15719,2008.0,336040,CSK v RR,CSK,RR,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,RR,2,...,0.0,0.0,128.57,False,True,{},0.0,not out,NaN,NaN

In [123]:
df=df.drop_duplicates()

In [124]:
print(df)

       season  match_id match_name home_team away_team  \
0      2023.0   1359475   GT v CSK        GT       CSK
1      2023.0   1359475   GT v CSK        GT       CSK
2      2023.0   1359475   GT v CSK        GT       CSK
3      2023.0   1359475   GT v CSK        GT       CSK
4      2023.0   1359475   GT v CSK        GT       CSK
...       ...       ...        ...       ...       ...
15715  2008.0    336040   CSK v RR       CSK        RR
15716  2008.0    336040   CSK v RR       CSK        RR
15717  2008.0    336040   CSK v RR       CSK        RR
15718  2008.0    336040   CSK v RR       CSK        RR
15719  2008.0    336040   CSK v RR       CSK        RR

                                          venue       city country  \
0      Narendra Modi Stadium, Motera, Ahmedabad  Ahmedabad   India
1      Narendra Modi Stadium, Motera, Ahmedabad  Ahmedabad   India
2      Narendra Modi Stadium, Motera, Ahmedabad  Ahmedabad   India
3      Narendra Modi Stadium, Motera, Ahmedabad  Ahmedabad   India
4      Narendra Modi Stadium, Motera, Ahmedabad  Ahmedabad   India
...                                         ...        ...     ...
15715        Dr DY Patil Sports Academy, Mumbai     Mumbai   India
15716        Dr DY Patil Sports Academy, Mumbai     Mumbai   India
15717        Dr DY Patil Sports Academy, Mumbai     Mumbai   India
15718        Dr DY Patil Sports Academy, Mumbai     Mumbai   India
15719        Dr DY Patil Sports Academy, Mumbai     Mumbai   India

      current_innings  innings_id  ... fours sixes  Strike_Rate  captain  \
0                 CSK           1  ...   0.0   0.0        16.66    False
1                 CSK           1  ...   4.0   9.0       184.00    False
2                 CSK           1  ...   4.0   1.0       135.29    False
3                 CSK           1  ...   1.0   0.0       116.66    False
4                 CSK           1  ...   0.0   1.0       100.00    False
...               ...         ...  ...   ...   ...          ...      ...
15715              RR           2  ...   3.0   4.0       143.58    False
15716              RR           2  ...   0.0   1.0       133.33    False
15717              RR           2  ...   0.0   0.0         0.00    False
15718              RR           2  ...   1.0   0.0       100.00     True
15719              RR           2  ...   0.0   0.0       128.57    False

      Is_Not_Out                Running_Score  Running_Over  \
0          False   {'wickets': 1, 'runs': 14}           2.2
1          False  {'wickets': 5, 'runs': 151}          17.1
2          False   {'wickets': 2, 'runs': 50}           5.5
3          False   {'wickets': 3, 'runs': 70}           7.4
4          False  {'wickets': 4, 'runs': 121}          12.5
...          ...                          ...           ...
15715      False  {'wickets': 7, 'runs': 143}          17.4
15716      False  {'wickets': 5, 'runs': 139}          16.6
15717      False  {'wickets': 6, 'runs': 139}          17.1
15718       True                           {}           0.0
15719       True                           {}           0.0

                          shortText  \
0                  b Mohammed Shami
1           c Shubman Gill b Joseph
2      c &dagger;Saha b Rashid Khan
3      c &dagger;Saha b Rashid Khan
4                          b Little
...                             ...
15715               run out (Raina)
15716        c Dhoni b Muralitharan
15717         c Kapugedera b Morkel
15718                       not out
15719                       not out

                                              commentary link
0      <strong>Shami breaches the defences of Conway<...  NaN
1      Joseph misses the yorker, but is still a hard-...  NaN
2      <strong>Rashid strikes back, Moeen has nicked ...  NaN
3      <strong>Rashid takes out both Moeen and Stokes...  NaN
4      Maiden IPL wicket for Josh Little. Rayudu dash...  NaN
...                                                  ...  ...
15715  Raina you beauty! A direct hit runs out Yusuf!...  NaN
15716  caught! Another twist! Kaif steps out of his c...  NaN
15717  what has he done? Jadeja backs away towards le...  NaN
15718                                                NaN  NaN
15719                                                NaN  NaN

[15720 rows x 25 columns]

In [125]:
columns=['season']
df['season'] = df['season'].fillna(0)
df[columns]=df[columns].astype(int)

In [126]:
df.isnull().any()

season             False
match_id           False
match_name         False
home_team          False
away_team          False
venue              False
city               False
country            False
current_innings    False
innings_id         False
name               False
Full_Name          False
runs               False
Balls_Faced        False
minutes            False
fours              False
sixes              False
Strike_Rate        False
captain            False
Is_Not_Out         False
Running_Score      False
Running_Over       False
shortText          False
commentary          True
link                True
dtype: bool

In [127]:
columns = ['commentary','link']
df.drop(columns=columns, inplace=True)

In [128]:
df.isnull().any()

season             False
match_id           False
match_name         False
home_team          False
away_team          False
venue              False
city               False
country            False
current_innings    False
innings_id         False
name               False
Full_Name          False
runs               False
Balls_Faced        False
minutes            False
fours              False
sixes              False
Strike_Rate        False
captain            False
Is_Not_Out         False
Running_Score      False
Running_Over       False
shortText          False
dtype: bool

In [129]:
columns = ['shortText']
df.drop(columns=columns, inplace=True)

In [130]:
print(df)

       season  match_id match_name home_team away_team  \
0        2023   1359475   GT v CSK        GT       CSK
1        2023   1359475   GT v CSK        GT       CSK
2        2023   1359475   GT v CSK        GT       CSK
3        2023   1359475   GT v CSK        GT       CSK
4        2023   1359475   GT v CSK        GT       CSK
...       ...       ...        ...       ...       ...
15715    2008    336040   CSK v RR       CSK        RR
15716    2008    336040   CSK v RR       CSK        RR
15717    2008    336040   CSK v RR       CSK        RR
15718    2008    336040   CSK v RR       CSK        RR
15719    2008    336040   CSK v RR       CSK        RR

                                          venue       city country  \
0      Narendra Modi Stadium, Motera, Ahmedabad  Ahmedabad   India
1      Narendra Modi Stadium, Motera, Ahmedabad  Ahmedabad   India
2      Narendra Modi Stadium, Motera, Ahmedabad  Ahmedabad   India
3      Narendra Modi Stadium, Motera, Ahmedabad  Ahmedabad   India
4      Narendra Modi Stadium, Motera, Ahmedabad  Ahmedabad   India
...                                         ...        ...     ...
15715        Dr DY Patil Sports Academy, Mumbai     Mumbai   India
15716        Dr DY Patil Sports Academy, Mumbai     Mumbai   India
15717        Dr DY Patil Sports Academy, Mumbai     Mumbai   India
15718        Dr DY Patil Sports Academy, Mumbai     Mumbai   India
15719        Dr DY Patil Sports Academy, Mumbai     Mumbai   India

      current_innings  innings_id  ...  runs Balls_Faced  minutes  fours  \
0                 CSK           1  ...   1.0         6.0        -    0.0
1                 CSK           1  ...  92.0        50.0        -    4.0
2                 CSK           1  ...  23.0        17.0        -    4.0
3                 CSK           1  ...   7.0         6.0        -    1.0
4                 CSK           1  ...  12.0        12.0        -    0.0
...               ...         ...  ...   ...         ...      ...    ...
15715              RR           2  ...  56.0        39.0        -    3.0
15716              RR           2  ...  12.0         9.0        -    0.0
15717              RR           2  ...   0.0         1.0        -    0.0
15718              RR           2  ...   9.0         9.0        -    1.0
15719              RR           2  ...   9.0         7.0        -    0.0

      sixes  Strike_Rate  captain Is_Not_Out                Running_Score  \
0       0.0        16.66    False      False   {'wickets': 1, 'runs': 14}
1       9.0       184.00    False      False  {'wickets': 5, 'runs': 151}
2       1.0       135.29    False      False   {'wickets': 2, 'runs': 50}
3       0.0       116.66    False      False   {'wickets': 3, 'runs': 70}
4       1.0       100.00    False      False  {'wickets': 4, 'runs': 121}
...     ...          ...      ...        ...                          ...
15715   4.0       143.58    False      False  {'wickets': 7, 'runs': 143}
15716   1.0       133.33    False      False  {'wickets': 5, 'runs': 139}
15717   0.0         0.00    False      False  {'wickets': 6, 'runs': 139}
15718   0.0       100.00     True       True                           {}
15719   0.0       128.57    False       True                           {}

      Running_Over
0              2.2
1             17.1
2              5.5
3              7.4
4             12.5
...            ...
15715         17.4
15716         16.6
15717         17.1
15718          0.0
15719          0.0

[15720 rows x 22 columns]

In [131]:
minutes_column = df['minutes']

print(minutes_column)

0        -
1        -
2        -
3        -
4        -
        ..
15715    -
15716    -
15717    -
15718    -
15719    -
Name: minutes, Length: 15720, dtype: object

In [132]:
df['minutes']=df['minutes'].fillna(0)
print(df['minutes'])

0        -
1        -
2        -
3        -
4        -
        ..
15715    -
15716    -
15717    -
15718    -
15719    -
Name: minutes, Length: 15720, dtype: object

In [133]:
df['minutes'].replace('-', np.NaN, inplace=True)  # Replacing empty strings with NaN
df['minutes'] = df['minutes'].fillna(0)  #  filling  NaNs with 0
print(df['minutes'])

0        0
1        0
2        0
3        0
4        0
        ..
15715    0
15716    0
15717    0
15718    0
15719    0
Name: minutes, Length: 15720, dtype: object

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15720 entries, 0 to 15719
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   season           15720 non-null  int32
 1   match_id         15720 non-null  int64
 2   match_name       15720 non-null  object
 3   home_team        15720 non-null  object
 4   away_team        15720 non-null  object
 5   venue            15720 non-null  object
 6   city             15720 non-null  object
 7   country          15720 non-null  object
 8   current_innings  15720 non-null  object
 9   innings_id       15720 non-null  int64
 10  name             15720 non-null  object
 11  Full_Name        15720 non-null  object
 12  runs             15720 non-null  float64
 13  Balls_Faced      15720 non-null  float64
 14  minutes          15720 non-null  object
 15  fours            15720 non-null  float64
 16  sixes            15720 non-null  float64
 17  Strike_Rate      15720 non-null  object
 18  captain          15720 non-null  bool
 19  Is_Not_Out       15720 non-null  object
 20  Running_Score    15720 non-null  object
 21  Running_Over     15720 non-null  float64
dtypes: bool(1), float64(5), int32(1), int64(2), object(13)
memory usage: 2.6+ MB

In [135]:
columns=['match_name','home_team','away_team','venue','city','country','current_innings']
df.drop(columns,inplace=True,axis=1)

In [136]:
print(df)

       season  match_id  innings_id           name        Full_Name  runs  \
0        2023   1359475           1      DP Conway     Devon Conway   1.0
1        2023   1359475           1     RD Gaikwad  Ruturaj Gaikwad  92.0
2        2023   1359475           1         MM Ali        Moeen Ali  23.0
3        2023   1359475           1      BA Stokes       Ben Stokes   7.0
4        2023   1359475           1      AT Rayudu    Ambati Rayudu  12.0
...       ...       ...         ...            ...              ...   ...
15715    2008    336040           2      YK Pathan     Yusuf Pathan  56.0
15716    2008    336040           2         M Kaif    Mohammad Kaif  12.0
15717    2008    336040           2      RA Jadeja  Ravindra Jadeja   0.0
15718    2008    336040           2       SK Warne      Shane Warne   9.0
15719    2008    336040           2  Sohail Tanvir    Sohail Tanvir   9.0

       Balls_Faced minutes  fours  sixes Strike_Rate  captain Is_Not_Out  \
0              6.0       0    0.0    0.0       16.66    False      False
1             50.0       0    4.0    9.0      184.00    False      False
2             17.0       0    4.0    1.0      135.29    False      False
3              6.0       0    1.0    0.0      116.66    False      False
4             12.0       0    0.0    1.0      100.00    False      False
...            ...     ...    ...    ...         ...      ...        ...
15715         39.0       0    3.0    4.0      143.58    False      False
15716          9.0       0    0.0    1.0      133.33    False      False
15717          1.0       0    0.0    0.0        0.00    False      False
15718          9.0       0    1.0    0.0      100.00     True       True
15719          7.0       0    0.0    0.0      128.57    False       True

                     Running_Score  Running_Over
0       {'wickets': 1, 'runs': 14}           2.2
1      {'wickets': 5, 'runs': 151}          17.1
2       {'wickets': 2, 'runs': 50}           5.5
3       {'wickets': 3, 'runs': 70}           7.4
4      {'wickets': 4, 'runs': 121}          12.5
...                            ...           ...
15715  {'wickets': 7, 'runs': 143}          17.4
15716  {'wickets': 5, 'runs': 139}          16.6
15717  {'wickets': 6, 'runs': 139}          17.1
15718                           {}           0.0
15719                           {}           0.0

[15720 rows x 15 columns]

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15720 entries, 0 to 15719
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   season         15720 non-null  int32
 1   match_id       15720 non-null  int64
 2   innings_id     15720 non-null  int64
 3   name           15720 non-null  object
 4   Full_Name      15720 non-null  object
 5   runs           15720 non-null  float64
 6   Balls_Faced    15720 non-null  float64
 7   minutes        15720 non-null  object
 8   fours          15720 non-null  float64
 9   sixes          15720 non-null  float64
 10  Strike_Rate    15720 non-null  object
 11  captain        15720 non-null  bool
 12  Is_Not_Out     15720 non-null  object
 13  Running_Score  15720 non-null  object
 14  Running_Over   15720 non-null  float64
dtypes: bool(1), float64(5), int32(1), int64(2), object(6)
memory usage: 1.8+ MB

In [138]:
columns=[ 'name','Full_Name']
df.drop(columns,inplace=True,axis=1)

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15720 entries, 0 to 15719
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   season         15720 non-null  int32
 1   match_id       15720 non-null  int64
 2   innings_id     15720 non-null  int64
 3   runs           15720 non-null  float64
 4   Balls_Faced    15720 non-null  float64
 5   minutes        15720 non-null  object
 6   fours          15720 non-null  float64
 7   sixes          15720 non-null  float64
 8   Strike_Rate    15720 non-null  object
 9   captain        15720 non-null  bool
 10  Is_Not_Out     15720 non-null  object
 11  Running_Score  15720 non-null  object
 12  Running_Over   15720 non-null  float64
dtypes: bool(1), float64(5), int32(1), int64(2), object(4)
memory usage: 1.5+ MB

In [140]:
df['minutes'] = df['minutes'].astype(float).astype(int)

In [141]:
print(df['minutes'])

0        0
1        0
2        0
3        0
4        0
        ..
15715    0
15716    0
15717    0
15718    0
15719    0
Name: minutes, Length: 15720, dtype: int32

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15720 entries, 0 to 15719
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   season         15720 non-null  int32
 1   match_id       15720 non-null  int64
 2   innings_id     15720 non-null  int64
 3   runs           15720 non-null  float64
 4   Balls_Faced    15720 non-null  float64
 5   minutes        15720 non-null  int32
 6   fours          15720 non-null  float64
 7   sixes          15720 non-null  float64
 8   Strike_Rate    15720 non-null  object
 9   captain        15720 non-null  bool
 10  Is_Not_Out     15720 non-null  object
 11  Running_Score  15720 non-null  object
 12  Running_Over   15720 non-null  float64
dtypes: bool(1), float64(5), int32(2), int64(2), object(3)
memory usage: 1.5+ MB

In [143]:
df['runs'] = df['runs'].astype(int)
df['Balls_Faced'] = df['Balls_Faced'].astype(int)
df['fours'] = df['fours'].astype(int)
df['sixes'] = df['sixes'].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15720 entries, 0 to 15719
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   season         15720 non-null  int32
 1   match_id       15720 non-null  int64
 2   innings_id     15720 non-null  int64
 3   runs           15720 non-null  int32
 4   Balls_Faced    15720 non-null  int32
 5   minutes        15720 non-null  int32
 6   fours          15720 non-null  int32
 7   sixes          15720 non-null  int32
 8   Strike_Rate    15720 non-null  object
 9   captain        15720 non-null  bool
 10  Is_Not_Out     15720 non-null  object
 11  Running_Score  15720 non-null  object
 12  Running_Over   15720 non-null  float64
dtypes: bool(1), float64(1), int32(6), int64(2), object(3)
memory usage: 1.2+ MB

In [144]:
df['Strike_Rate'].replace('-',np.NaN,inplace=True)
df['Strike_Rate']=df['Strike_Rate'].fillna(0)
print(df['Strike_Rate'])

0         16.66
1        184.00
2        135.29
3        116.66
4        100.00
          ...
15715    143.58
15716    133.33
15717      0.00
15718    100.00
15719    128.57
Name: Strike_Rate, Length: 15720, dtype: object

In [145]:
df['Strike_Rate']=df['Strike_Rate'].astype(float).astype(int)
df.info()
df['Is_Not_Out']=df['Is_Not_Out'].astype(bool)
df['Running_Over']=df['Running_Over'].astype(int)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15720 entries, 0 to 15719
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   season         15720 non-null  int32
 1   match_id       15720 non-null  int64
 2   innings_id     15720 non-null  int64
 3   runs           15720 non-null  int32
 4   Balls_Faced    15720 non-null  int32
 5   minutes        15720 non-null  int32
 6   fours          15720 non-null  int32
 7   sixes          15720 non-null  int32
 8   Strike_Rate    15720 non-null  int32
 9   captain        15720 non-null  bool
 10  Is_Not_Out     15720 non-null  object
 11  Running_Score  15720 non-null  object
 12  Running_Over   15720 non-null  float64
dtypes: bool(1), float64(1), int32(7), int64(2), object(2)
memory usage: 1.2+ MB

In [146]:
df.columns = df.columns.str.capitalize()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15720 entries, 0 to 15719
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Season         15720 non-null  int32
 1   Match_id       15720 non-null  int64
 2   Innings_id     15720 non-null  int64
 3   Runs           15720 non-null  int32
 4   Balls_faced    15720 non-null  int32
 5   Minutes        15720 non-null  int32
 6   Fours          15720 non-null  int32
 7   Sixes          15720 non-null  int32
 8   Strike_rate    15720 non-null  int32
 9   Captain        15720 non-null  bool
 10  Is_not_out     15720 non-null  bool
 11  Running_score  15720 non-null  object
 12  Running_over   15720 non-null  int32
dtypes: bool(2), int32(8), int64(2), object(1)
memory usage: 1013.2+ KB

In [147]:
df['Running_score'].str.split(pat = ':')

0         [{'wickets',  1, 'runs',  14}]
1        [{'wickets',  5, 'runs',  151}]
2         [{'wickets',  2, 'runs',  50}]
3         [{'wickets',  3, 'runs',  70}]
4        [{'wickets',  4, 'runs',  121}]
                      ...
15715    [{'wickets',  7, 'runs',  143}]
15716    [{'wickets',  5, 'runs',  139}]
15717    [{'wickets',  6, 'runs',  139}]
15718                               [{}]
15719                               [{}]
Name: Running_score, Length: 15720, dtype: object

In [148]:
df['Running_score'].str.split(pat = ':').str[1]

0         1, 'runs'
1         5, 'runs'
2         2, 'runs'
3         3, 'runs'
4         4, 'runs'
            ...
15715     7, 'runs'
15716     5, 'runs'
15717     6, 'runs'
15718           NaN
15719           NaN
Name: Running_score, Length: 15720, dtype: object

In [149]:
df['Running_score_Wickets']=df['Running_score'].str.split(pat = ':').str[1]

In [150]:
df['Running_score_Wickets'].str.split(pat=',').str[0]

0          1
1          5
2          2
3          3
4          4
        ...
15715      7
15716      5
15717      6
15718    NaN
15719    NaN
Name: Running_score_Wickets, Length: 15720, dtype: object

In [151]:
df['Wickets_From_Running Score']=df['Running_score_Wickets'].str.split(pat=',').str[0]

In [152]:
df['Wickets_From_Running Score']

0          1
1          5
2          2
3          3
4          4
        ...
15715      7
15716      5
15717      6
15718    NaN
15719    NaN
Name: Wickets_From_Running Score, Length: 15720, dtype: object

In [153]:
df['Running_score'].str.split(pat = ':').str[2]

0          14}
1         151}
2          50}
3          70}
4         121}
         ...
15715     143}
15716     139}
15717     139}
15718      NaN
15719      NaN
Name: Running_score, Length: 15720, dtype: object

In [154]:
df['Running_score_Runs']=df['Running_score'].str.split(pat = ':').str[2]

In [155]:
df['Running_score_Runs'].str.split(pat='}').str[0]

0          14
1         151
2          50
3          70
4         121
         ...
15715     143
15716     139
15717     139
15718     NaN
15719     NaN
Name: Running_score_Runs, Length: 15720, dtype: object

In [156]:
df['Runs_From_Running Score']=df['Running_score_Runs'].str.split(pat='}').str[0]

In [157]:
df['Runs_From_Running Score']

0          14
1         151
2          50
3          70
4         121
         ...
15715     143
15716     139
15717     139
15718     NaN
15719     NaN
Name: Runs_From_Running Score, Length: 15720, dtype: object

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15720 entries, 0 to 15719
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Season                      15720 non-null  int32
 1   Match_id                    15720 non-null  int64
 2   Innings_id                  15720 non-null  int64
 3   Runs                        15720 non-null  int32
 4   Balls_faced                 15720 non-null  int32
 5   Minutes                     15720 non-null  int32
 6   Fours                       15720 non-null  int32
 7   Sixes                       15720 non-null  int32
 8   Strike_rate                 15720 non-null  int32
 9   Captain                     15720 non-null  bool
 10  Is_not_out                  15720 non-null  bool
 11  Running_score               15720 non-null  object
 12  Running_over                15720 non-null  int32
 13  Running_score_Wickets       12029 non-null  object
 14  Wickets_From_Running Score  12029 non-null  object
 15  Running_score_Runs          12029 non-null  object
 16  Runs_From_Running Score     12029 non-null  object
dtypes: bool(2), int32(8), int64(2), object(5)
memory usage: 1.5+ MB

In [159]:
columns=[  'Running_score','Running_score_Wickets', 'Running_score_Runs' ]
df.drop(columns,inplace=True,axis=1)

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15720 entries, 0 to 15719
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Season                      15720 non-null  int32
 1   Match_id                    15720 non-null  int64
 2   Innings_id                  15720 non-null  int64
 3   Runs                        15720 non-null  int32
 4   Balls_faced                 15720 non-null  int32
 5   Minutes                     15720 non-null  int32
 6   Fours                       15720 non-null  int32
 7   Sixes                       15720 non-null  int32
 8   Strike_rate                 15720 non-null  int32
 9   Captain                     15720 non-null  bool
 10  Is_not_out                  15720 non-null  bool
 11  Running_over                15720 non-null  int32
 12  Wickets_From_Running Score  12029 non-null  object
 13  Runs_From_Running Score     12029 non-null  object
dtypes: bool(2), int32(8), int64(2), object(2)
memory usage: 1.1+ MB

In [170]:
df['Wickets_From_Running Score']=df['Wickets_From_Running Score'].fillna(0)
df['Wickets_From_Running Score']

0        1
1        5
2        2
3        3
4        4
        ..
15715    7
15716    5
15717    6
15718    0
15719    0
Name: Wickets_From_Running Score, Length: 15720, dtype: int32

In [173]:
df['Runs_From_Running Score']

0          14
1         151
2          50
3          70
4         121
         ...
15715     143
15716     139
15717     139
15718     NaN
15719     NaN
Name: Runs_From_Running Score, Length: 15720, dtype: object

In [175]:
df['Runs_From_Running Score']=df['Runs_From_Running Score'].fillna(0)
df['Runs_From_Running Score']

0          14
1         151
2          50
3          70
4         121
         ...
15715     143
15716     139
15717     139
15718       0
15719       0
Name: Runs_From_Running Score, Length: 15720, dtype: object

In [177]:
df['Wickets_From_Running Score']=df['Wickets_From_Running Score'].astype(int)
df['Runs_From_Running Score']=df['Runs_From_Running Score'].astype(int)

In [179]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15720 entries, 0 to 15719
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Season                      15720 non-null  int32
 1   Match_id                    15720 non-null  int64
 2   Innings_id                  15720 non-null  int64
 3   Runs                        15720 non-null  int32
 4   Balls_faced                 15720 non-null  int32
 5   Minutes                     15720 non-null  int32
 6   Fours                       15720 non-null  int32
 7   Sixes                       15720 non-null  int32
 8   Strike_rate                 15720 non-null  int32
 9   Captain                     15720 non-null  bool
 10  Is_not_out                  15720 non-null  bool
 11  Running_over                15720 non-null  int32
 12  Wickets_From_Running Score  15720 non-null  int32
 13  Runs_From_Running Score     15720 non-null  int32
dtypes: bool(2), int32(10), int64(2)
memory usage: 1013.2 KB